<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Blog</title>
</head>
<body>
    <header class="main-head">
      <nav>
        <h1 id="logo">Flask Blog</h1>
        <ul>
            <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
            <li><a href="{{ url_for('crear_post') }}" >Agregar Post</a></li>
        </ul>
      </nav>
    </header>
    {% block body %}
	{% endblock %}
</body>
</html>